<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles/styles.css" />
  <% if (extraCSS) { %>
    <link rel="stylesheet" href="<%= extraCSS %>" />
  <% } %>
</head>
<body>
    <header class="navbar">
        <div class="navbar-container">
            <a href="/" class="navbar-logo">City on Farm</a>
            <button class="navbar-toggle" id="navbar-toggle" aria-label="メニューを開閉">
            <span id="toggle-icon">☰</span>
            </button>
            <ul class="navbar-menu" id="navbar-menu">
                <li><a href="/">ホーム</a></li>
                <li><a href="/products">農作物一覧</a></li>
                <li><a href="/blog">ブログ</a></li>
                <li><a href="/contact">お問い合わせ</a></li>
                <li><a href="/login">ログイン</a></li>
            </ul>
        </div>
    </header>
    <main>
