<!-- ナビゲーションバー -->
<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="navbar-logo">City on Farm</a>
    <button class="navbar-toggle" id="navbar-toggle">☰</button>
    <ul class="navbar-menu" id="navbar-menu">
      <li><a href="/">ホーム</a></li>
      <li><a href="/products">農作物一覧</a></li>
      <li><a href="/blog">ブログ</a></li>
      <li><a href="/contact">お問い合わせ</a></li>
      <li><a href="/login">ログイン</a></li>
    </ul>
  </div>
</nav>