<%- include('./partials/header', { title: 'ページが見つかりません', extraCSS: '' }) %>

<main class="404-page" style="margin-top: 60px; min-height:50vh;">
    <section class="404-section" style="text-align: center;">
        <h2>ページが存在しません。</h2>
        <p>絶賛作成中かもしれないので、期待してお待ちください。</p>
    </section>
</main>

<%- include('./partials/footer') %>