<section class="card">
  <div class="card__head">
    <h2>各種管理</h2>
  </div>

  <!-- ボタン群 -->
  <div class="btn-grid">
    <a class="btn" href="/seller/trades?q=&status=pending&payment=all&ship=all&owner=owner_own">未完了の注文</a>
    <a class="btn" href="/seller/trades?q=&status=pending&payment=all&ship=all&owner=owner_own">今週の注文</a>
    <a class="btn" href="/my/contacts">私の問い合わせ一覧</a>
  </div>

</section>